<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/repast.simphony.distributed.batch/src/repast/simphony/batch/LocalDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="repast.simphony.batch.LocalDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./test_data/local_batch_run.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="repast.simphony.distributed.batch"/>
</launchConfiguration>
